{% extends 'base.html.twig' %}

{% block body %}
    <div class="vh-100 d-flex flex-column justify-content-start">
        <header class="border-bottom border-2 mb-3 shadow-sm d-print-none">
            {{ include('fragments/_navbar.html.twig') }}
        </header>

        <div class="container d-flex justify-content-center mb-4 d-print-none">
            <ol class="breadcrumb shadow bg-white">
                <li class="breadcrumb-item d-flex justify-content-start align-items-center">
                    <img src="{{ asset('build/img/logo.png') }}" class="me-2" width="25" alt="logo">
                    <a href="{{ path('app') }}" class="pr-md-3 pl-md-2 pr-2 pl-1">Dashboard</a>
                </li>
                {% block bread %}{% endblock %}
            </ol>
        </div>

        <main class="flex-grow-1 mb-5">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer>
            footer
        </footer>
    </div>
{% endblock %}